*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: auto;
    margin: 1%;
}

.logo{
    width: 160px;
    height: 80px;
    margin-left: 2%;
}

.divisore-verticale-logo{
    width: 1px;
    height: 80px;
    background-color: rgb(221, 211, 211);
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 1%;
    }

.menu{
    display: inline-block;
 }

.secondoblocco{
    position: relative;
    margin: 1%;
   
}

.banner{
    height: 100%;
    width: 100%;
}

.descrizione-prima-foto{
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-40%, -65%);
}


.conteiner{
    background-color: rgb(41, 108, 231);
    margin: 1%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.box-top { 
    width: auto;
    height: 80px;
    background-color: rgb(130, 206, 206);
}

.box-left{
    width: 20%;
    height: 400px;
    background-color: rgb(130, 206, 206);
    float:left;
    margin: 1% 1% 0 0;
}

.box-center{
    width: 56%;
    height: 400px;
    background-color: rgb(130, 206, 206);
    float: left;
    margin: 1%;
}

.box-right{
    width: 20%;
    height: 400px;
    background-color: rgb(130, 206, 206);
    float:right;
    margin: 1% 0 1% 0;
}


footer{
    height: 50px;
    background-color: rgb(94, 5, 102);
    margin: 0 1% 1% 1%;
}

